<h2>Просрочка</h2>

<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
</style>

<table>
    <thead>
        <tr>
            <th>Участник</th>
            <th>Задержка (0-2)</th>
            <th>Опоздание (3-7)</th>
            <th>Просрочка (7+)</th>
            <th>Суммарно просрочено</th>
        </tr>
    </thead>
    <tbody>
    <% @overdues.each do |overdue| %>
        <tr>
            <td><%= overdue.user %></td>
            <% overdue.categories.each do |count| %>
                <td><%= count %></td>
            <% end %>
            <td><%= overdue.get_sum %></td>
        </tr>
    <% end %>
    </tbody>
</table>
